:root{
    --color1: #68001a;
    --color2: #b40078;
    --color3: #fd93e5;
    --color4: #fc8585;
    --color5: #ffffff;
    --title: 'Slabo 27px', serif;
    --text: 'Roboto', sans-serif;
}

form {
    width: 400px;
    margin:auto;
}