/*Estilos del footer*/
footer{
    width: 100%;
    min-height: 30vh;
    background-color: var(--color3);
    display: flex;
}
footer > div{
    margin-top: 1cm;
    flex: 50%;
    padding: 2% 5%;
    text-align: center;
}
footer > div > p{
    font: 1.5rem var(--title);
    color:var(--color1);
}
footer > div > a{
    font: 1.5rem var(--title);
    text-decoration: none;
    color:var(--color1);
    padding: 2%;
}
footer > div > a > i{
    font-size: 2.5rem;
}
