/*estilos del header de la página*/
header{
  width: 100%;
  height: 40px;;
}

/* Navbar links */
.navbar > a {
  width: 11%;
  height: 100px;
  float: right;
  text-align: center;
  padding: 5px;
  color: rgb(0, 0, 0);
  font-size: 20px;
}
  
/* Navbar links on mouse-over */
.navbar a:hover {
  background-color:rgb(190, 190, 190);
}
  
header > nav > div > a, .icon > a{
  background-color: transparent;
  flex: 10%;
  text-decoration: none;
  font: 1.5rem var(--title);
  display: flex;
  justify-content: center;
  align-items: center;
  
}

header > nav > a{
  flex: 40%;
  font: 1.5rem var(--title);
  display: flex;
  justify-content: center;
  align-items: center;
}

#mobile{
  display: none;
}
/*estilos del nav desplegable mobile*/
#desplegable{
  position: absolute;
  top: 100px;
  right: 0;
  width: 40%;
  text-align: center;
  background-color: grey;
}
#desplegable > a{
  display: block;
  font: 1.5rem var(--title);
  text-decoration: none;
  color: white;
  padding: 2%;
}
#desplegable > a:hover{
  text-decoration: underline white;
}
.mostrar_desplegable{
  display: none;
}

/*Agremamos responsividad a la barra de navegación*/

@media(max-width: 720px){
  h1{
      font-size: 1.2rem;
  }
  #mobile{
      display: flex;
      flex-direction: row-reverse;
  }
  #mobile > button{
      width: 80px;
      height: 50px;
      margin: auto 5%;
      border: solid white 2px;
      border-radius: 15%;
      background-color: transparent;
      color: white;
      font-size: 2rem;
  }
  #escritorio{
      display: none;
  }
}