/*estilos del header de la página*/
header{
  width: 100%;
  height: 40px;;
}

/* Navbar links */
.navbar > a {
  width: 11%;
  height: 100px;
  float: right;
  text-align: center;
  padding: 5px;
  color: rgb(0, 0, 0);
  font-size: 20px;
}
  
/* Navbar links on mouse-over */
.navbar a:hover {
  background-color:rgb(190, 190, 190);
}
  
header > nav > div > a, .icon > a{
  background-color: transparent;
  flex: 10%;
  text-decoration: none;
  font: 1.5rem var(--title);
  display: flex;
  justify-content: center;
  align-items: center;
  
}

header > nav > a{
  flex: 40%;
  font: 1.5rem var(--title);
  display: flex;
  justify-content: center;
  align-items: center;
}


