.porfolio{
  background-color: var(--color2);
  padding: 3rem 2rem 3rem;
  margin-left: auto;
  margin-right: auto;
}

.proyectos {
    margin: 1cm;
    margin-top: 30px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .proyectos .box {
    position: relative;
    width: 275px;
    height: 275px;
    transition: 0.5s;
    transform-style: preserve-3d;
    overflow: hidden;
    margin-right: 100px;
    margin-top: 100px;
    margin-bottom: 3cm;
  }
  .proyectos:hover .box {
    transform: rotateY(25deg);
  }
  .proyectos .box:hover ~ .box {
    transform: rotateY(-25deg);
  }
  .proyectos .box:hover {
    transform: rotateY(0deg) scale(1.25);
    z-index: 1;
    box-shadow: 0 25px 40px rgba(0,0,0,0.5);
  }
  .proyectos .box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
  }
  .proyectos .box .imgBx:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,rgb(255, 255, 255),#000);
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
    mix-blend-mode: multiply;
  }
  .proyectos .box:hover .imgBx:before {
    opacity: 0;
  }
  .proyectos .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
  }
  .proyectos .box .content {
    position: absolute;
    top: 1;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    padding: 20px;
    align-items: flex-end;
    box-sizing: border-box;
  }
  .proyectos .box .content h2 {
    color: rgb(0, 0, 0);
    transition: 0.5s;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 20px;
    transform: translateY(200px);
    transition-delay: 0.3s;
  }
  .proyectos .box:hover .content h2 {
    transform: translateY(0px);
  }
  .proyectos .box .content p {
    color: rgb(0, 0, 0);
    transition: 0.5s;
    font-size: 14px;
    transform: translateY(200px);
    transition-delay: 0.4s;
  }
  .proyectos .box:hover .content p {
    transform: translateY(0px);
  }

  .proyectos .box .content a {
    font-weight: bold;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1rem;
  }