/*Estilo sección portfolio*/

.porfolio{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.porfolio_lenguajes{
  background-color: var(--color2);
}

.porfolio_proyectos{
  background-color: var(--color3);
}

.porfolio_container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

.porfolio_titulo{
  display: flex;
  justify-content: center;
  font-family: 'Sigmar', cursive;
  color: #e3b4ff; 
  text-shadow: -1px 0 #442247, 0 1px #624168, 1px 0 #604168, 0 -1px #604168, -2px 2px 0 #624168, 2px 2px 0 #554168, 1px 1px #5d4168, 2px 2px #5a4168, 3px 3px #554168, 4px 4px #5d4168, 5px 5px #584168; 
}
.porfolio_titulo{
  flex: 100%;
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
}

.avatar {
	width: 170px;
	height: 170px;
	box-sizing: border-box;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
  display: flex;
  margin-left: 1cm;
  margin-top: 2cm;
  margin-bottom: 2cm;
    
}
.img_lenguaje { 
  width: 100%; 
  height: auto; 
}

.porfolio_proyectos {
  text-align: center;
  padding: 20px;
}

.porfolio_titulo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.proyectos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.box {
  position: relative;
  width: 275px;
  height: 275px;
  transition: 0.5s;
  transform-style: preserve-3d;
  perspective: 1000px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.box:hover {
  transform: rotateY(15deg);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.box .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
}

.box .imgBx img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
  transform-origin: center center;
}

.box:hover .imgBx img {
  transform: scale(1.2);
}

.box .content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  transform: translateY(100%);
  transition: 0.5s;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  opacity: 0;
}

.box:hover .content {
  transform: translateY(0%);
  opacity: 1;
}

.box .content h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.box .content p {
  font-size: 14px;
  margin-bottom: 10px;
}

.box .content a {
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  text-decoration: none;
  background-color: #fff;
  color: #000;
  border-radius: 20px;
  transition: 0.3s;
}

.box .content a:hover {
  background-color: #000;
  color: #fff;
}
