/*Estilo sección portfolio*/

.porfolio{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.porfolio_lenguajes{
  background-color: var(--color2);
}

.porfolio_proyectos{
  background-color: var(--color3);
}

.porfolio_container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

.porfolio_titulo{
  display: flex;
  justify-content: center;
  font-family: Comic Sans MS; 
  color: #e3b4ff; 
  text-shadow: -1px 0 #442247, 0 1px #624168, 1px 0 #604168, 0 -1px #604168, -2px 2px 0 #624168, 2px 2px 0 #554168, 1px 1px #5d4168, 2px 2px #5a4168, 3px 3px #554168, 4px 4px #5d4168, 5px 5px #584168; 
}
.porfolio_titulo{
  flex: 100%;
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
}

.avatar {
	width: 170px;
	height: 170px;
	box-sizing: border-box;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
  display: flex;
  margin-left: 1cm;
  margin-top: 2cm;
  margin-bottom: 2cm;
    
}
.img_lenguaje { 
  width: 100%; 
  height: auto; 
}

.proyectos {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .proyectos .box {
    position: relative;
    width: 275px;
    height: 275px;
    transition: 0.5s;
    transform-style: preserve-3d;
    overflow: hidden;
    margin-right: 1cm;
    margin-top: 1cm;
    margin-bottom: 1cm;
  }
  .proyectos:hover .box {
    transform: rotateY(25deg);
  }
  .proyectos .box:hover ~ .box {
    transform: rotateY(-25deg);
  }
  .proyectos .box:hover {
    transform: rotateY(0deg) scale(1.25);
    z-index: 1;
    box-shadow: 0 25px 40px rgba(0,0,0,0.5);
  }
  .proyectos .box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
  }
  .proyectos .box .imgBx:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,rgb(255, 255, 255),#000);
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
    mix-blend-mode: multiply;
  }
  .proyectos .box:hover .imgBx:before {
    opacity: 0;
  }
  .proyectos .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
  }
  .proyectos .box .content {
    position: absolute;
    top: 1;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    padding: 20px;
    align-items: flex-end;
    box-sizing: border-box;
  }
  .proyectos .box .content h2 {
    color: rgb(0, 0, 0);
    transition: 0.5s;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 20px;
    transform: translateY(200px);
    transition-delay: 0.3s;
  }
  .proyectos .box:hover .content h2 {
    transform: translateY(0px);
  }
  .proyectos .box .content p {
    color: rgb(0, 0, 0);
    transition: 0.5s;
    font-size: 14px;
    transform: translateY(200px);
    transition-delay: 0.4s;
  }
  .proyectos .box:hover .content p {
    transform: translateY(0px);
  }

  .proyectos .box .content a {
    font-weight: bold;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1rem;
  }