@import './header.css';
@import './inicio.css';
@import './footer.css';
@import './mis_proyectos.css';
@import './yo.css';

/*estilos generales y variables*/
:root{
    --title: 'Times New Roman', Times, serif;
    --text: 'Roboto', sans-serif;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1, h2, h3{
    font-family: var(--title);
    word-spacing: 5px;
} 

h4, h5, h6{
    font-family: var(--text);
    word-spacing: 5px;
}

p, span, a{
    font-family: var(--text);
    word-spacing: 5px;
}