@import './header.css';

/*estilos generales y variables*/
:root{
    --color1: #010d23;
    --color2: #03223f;
    --color3: #038bbb;
    --color4: #fccb6f;
    --color5: #e19f41;
    --title: 'Times New Roman', Times, serif;
    --text: 'Roboto', sans-serif;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--title);
}

p, span, a{
    font-family: var(--text);
}