@import './header.css';
@import './inicio.css';
@import './footer.css';
@import './mis_proyectos.css';
@import './yo.css';

/*estilos generales y variables*/
:root{
    --color1: #000000;
    --color2: #fbdbff;
    --color3: #d857ff;
    --color4: #1c001d;
    --color5: #ffffff;
    --title: 'Times New Roman','serif';
    --text: 'Times', sans-serif;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--title);
}

p, span, a{
    font-family: var(--text);
}

