.yo{
  background-color: var(--color2);
}

.aside_banner_content{
  float: left;
  width: 30%;
  display: flex;
}

.banner_content{
  padding: 1cm;
  border-radius: 2rem;
  margin: 1rem;
  border: solid black 1.5px;
  hyphens:auto;
  /*background-color: var(--color2);*/
  background-image: url('../img/aesthetic.gif');
}
.media h3{
  text-decoration: underline;
  margin-bottom: 0.5cm;
  margin-top: 0.5cm;
}
.banner_content .media img {
  margin-top: 1cm;
  border: solid black 1.5px;
  margin-left: 1cm;
}

.banner_content a{
  text-decoration: none;
  color: black;
}
.list_basic_info li {
  padding: .25rem .25rem .25rem;
}
/*LINEA DEL TIEMPO*/

.page{
  padding: 3rem 2rem 3rem;
  margin-left: auto;
  margin-right: auto;
}

.time{
  padding: var(--timePadding, .25rem 1.25rem .25rem);
  background-color: var(--timeBackgroundColor, #f0f0f0);

  font-size: var(--timeFontSize, 1rem);
  font-weight: var(--timeFontWeight, 700);
  text-transform: var(--timeTextTransform, uppercase);
  color: var(--timeColor, currentColor);
  display: var(--timeDisplay, inline-flex);
}

.time__month{
  margin-left: var(--timelineMounthMarginLeft, .25em);
}

.card{
  padding: var(--timelineCardPadding, 1.5rem 1.5rem 1.25rem);
  border-radius: var(--timelineCardBorderRadius, 2px);
  border-left: var(--timelineCardBorderLeftWidth, 3px) solid var(--timelineCardBorderLeftColor, var(--uiTimelineMainColor));
  box-shadow: var(--timelineCardBoxShadow, 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24));
  background-color: var(--timelineCardBackgroundColor, #fff);
}

.card__content{
  font-size: var(--cardTitleFontSize, 1.25rem);
  margin-top: var(--cardContentMarginTop, .5rem);
}


/*
=====
CORE STYLES
=====
*/

.timeline{
  display: var(--timelineDisplay, grid);
  grid-row-gap: var(--timelineGroupsGap, 2rem);
}

/*
1. If timeline__year isn't displaed the gap between it and timeline__cards isn't displayed too
*/

.timeline__year{
  margin-bottom: 1.25rem; /* 1 */
}

.timeline__cards{
  display: var(--timeloneCardsDisplay, grid);
  grid-row-gap: var(--timeloneCardsGap, 1.5rem);
}


/*
=====
SKIN
=====
*/

.timeline{
  --uiTimelineMainColor: var(--timelineMainColor, #222);
  --uiTimelineSecondaryColor: var(--timelineSecondaryColor, #fff);

  border-left: var(--timelineLineWidth, 3px) solid var(--timelineLineBackgroundColor, var(--uiTimelineMainColor));
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

.timeline__year{
  --timePadding: var(--timelineYearPadding, .5rem 1.5rem);
  --timeColor: var(--uiTimelineSecondaryColor);
  --timeBackgroundColor: var(--uiTimelineMainColor);
  --timeFontWeight: var(--timelineYearFontWeight, 400);
}

.timeline_text{
  justify-content: center;
  
  --timePadding: var(--timelineYearPadding, .6rem 2.5rem);
  --timeColor: var(--uiTimelineSecondaryColor);
  --timeBackgroundColor: var(--uiTimelineMainColor);
  --timeFontWeight: var(--timelineYearFontWeight, 900);
}

.timeline__card{
  position: relative;
  margin-left: var(--timelineCardLineGap, 1rem);
}

/*
1. Stoping cut box shadow
*/

.timeline__cards{
  overflow: hidden;
  padding-top: .25rem; /* 1 */
  padding-bottom: .25rem; /* 1 */
}

.timeline__card::before{
  content: "";
  width: 100%;
  height: var(--timelineCardLineWidth, 2px);
  background-color: var(--timelineCardLineBackgroundColor, var(--uiTimelineMainColor));

  position: absolute;
  top: var(--timelineCardLineTop, 1rem);
  left: -50%;
  z-index: -1;
}

/*
=====
SETTINGS
=====
*/
/**/
.timeline{
  --timelineMainColor: #9645bb;
}
